<!DOCTYPE html>
<html>
  <head>
    {% include "dbadmin/bootstrapcss.html" %}
    <title>Изменить номер</title>
  </head>
  <body>
    {% include "dbadmin/bootstrapjs.html" %}
    {% include "dbadmin/navbar.html" with frompage='changecellphone' %}
    <form action="{% url 'dbadmin:changecellphone_save' %}" method="post">
      {% csrf_token %}
      <div class="w-50">
        <div class="p-6 my-3 mx-5">
          <label for="input" class="form-label">Новый номер сотового телефона</label>
          <input type="text" class="form-control" placeholder="Введите новый номер сотового телефона" name="cellphone" id="cellphone">
        </div>
        <div class="сontainer mx-5">
          <div class="row align-items-center">
            <div class="col-md-auto">
              <button type="submit" class="btn btn-primary my-auto">Изменить</button>
            </div>
            {% if msg %}
            <div class="col">
              <span class="mx-3 my-auto {% if err %} text-danger {% else %} text-success {% endif %}">{{ msg }}</span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </body>
</html>