<!DOCTYPE html>
<html>
  <head>
    {% include "dbadmin/bootstrapcss.html" %}
    {% include "dbadmin/bootstrap-selectcss.html" %}
    <title>Удалить {{ whom }}</title>
  </head>
  <body>
    {% include "dbadmin/navbar.html" with frompage=mainview %}
    <form action="{% url 'dbadmin:delete_save' model %}" method="post">
      {% csrf_token %}
      <div class="w-50" id="cont">
        <div class="p-6 my-3 mx-5">
          <div class="mx-auto my-2" style="text-align:left">{{ labeltext }}</div>
          <select class="selectpicker" data-width="100%" data-live-search="true" data-live-search-placeholder="Поиск" 
          data-none-selected-text="Не выбрано" data-container="cont"
          data-none-results-text="Ничего не найдено" data-selected-text-format="values" data-style="" data-style-base="form-control" name="objid" id="objid">
                {% for obj in objects %}
                    <option value="{{ obj.id }}">{{ obj.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="сontainer mx-5">
          <div class="row align-items-center">
            <div class="col-md-auto">
              <button type="submit" class="btn btn-primary my-auto">Удалить</button>
            </div>
            {% if msg %}
            <div class="col">
              <span class="mx-3 my-auto {% if err %} text-danger {% else %} text-success {% endif %}">{{ msg }}</span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
    {% include "dbadmin/jquery.html" %}
    {% include "dbadmin/bootstrapjs.html" %}
    {% include "dbadmin/bootstrap-selectjs.html" %}
  </body>
</html>