<!DOCTYPE html>
<html>
  <head>
    {% include "dbadmin/bootstrapcss.html" %}
    {% include "dbadmin/bootstrap-selectcss.html" %}
    <title>Выгрузка данных</title>
  </head>
  <body>
    {% include "dbadmin/navbar.html" with frompage="download" %}
    <div class="filters mx-auto w-100">
      <form action="{% url 'dbadmin:download' %}" name="form" id="form">
        <div class="container-fluid my-3 mx-5">
        <div class="row align-items-end">
        {% for filter, model, objects, verbosename, GET in Models %}
        <div class="col">
        <div class="mx-auto my-2" style="text-align:center">{{ verbosename }}</div>
          <select class="selectpicker" data-width="100%" data-live-search="true" data-live-search-placeholder="Поиск" multiple data-count-selected-text="Выбрано элементов: {0}"
          data-none-selected-text="Не выбрано" data-actions-box="true" data-select-all-text="Выделить все" data-deselect-all-text="Отменить выделение"
          data-none-results-text="Ничего не найдено" data-selected-text-format="count" data-style="" data-style-base="form-control" name="{{ filter }}" id="{{ filter }}">
            {% for obj in objects %}
              {% if obj.id in GET %}
                <option selected value="{{ obj.id }}">{{ obj.name }}</option>
              {% else %}
                <option value="{{ obj.id }}">{{ obj.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        {% endfor %}
        <div class="col align-self-end">
          <input formaction="{% url 'dbadmin:download' %}" class="btn btn-primary my-2 mx-3" type="submit" value="Применить фильтры">
          <input formaction="{% url 'dbadmin:export' %}" class="btn btn-primary my-2 mx-3" type="submit" value="Экспорт в файл Excel">
        </div>
        </div>
        </div>
      </form>
    </div>
    <!-- table-to-upload preview -->
    {% if page_obj %}
        <table class="table table-bordered my-3 mx-auto">
          <thead align="center"> 
            <tr class="table-dark">
                <th>№ п/п</th><th>ID</th></tj><th>ФИО</th><th>Номер рабочего телефона</th><th>Номер сотового телефона</th><th>Дирекция</th><th>Департамент</th><th>Служба</th><th>Отдел</th><th>Должность</th>
            </tr>
          </thead>
          <tbody align="center">
            {% for worker in page_obj %}
            <tr>
                <td>{{ page_obj.start_index|add:forloop.counter|add:"-1" }}</td><td>{{ worker.pk }}</td><td>{{ worker.full_name }}</td><td>{{ worker.work_phone }}</td><td>{{ worker.cell_phone }}</td><td>{{ worker.directory.name }}</td>
                <td>{{ worker.department.name }}</td><td>{{ worker.service.name }}</td><td>{{ worker.branch.name }}</td><td>{{ worker.position.name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    
    {% include "dbadmin/pagination.html" with page_obj=page_obj %}

    {% else %}
      <div style="text-align:center">Работники отсутствуют</div>
    {% endif %}

    {% include "dbadmin/jquery.html" %}
    {% include "dbadmin/bootstrapjs.html" %}
    {% include "dbadmin/bootstrap-selectjs.html" %}
  </body>
</html>