{% load index %}
<!DOCTYPE html>
<html>
  <head>
    {% include "dbadmin/bootstrapcss.html" %}
    {% include "dbadmin/bootstrap-selectcss.html" %}
    <title>Профиль сотрудника</title>
  </head>
  <body>
    {% include "dbadmin/navbar.html" with frompage='undefined' %}
    <div class="content mx-5 w-50">
      <h1 class="mb-3">Профиль сотрудника</h1>
      <form action="{% url 'dbadmin:profile_assign_group_save' worker.id %}" method="post">
        {% csrf_token %}
      <table class="table table-bordered">
        <tr><th scope="row">ID:</th><td class="col-md-6"> {{ worker.id }}</td></tr>
        <tr><th scope="row">ФИО:</th><td class="col-md-6"> {{ worker.full_name }}</td></tr>
        <tr><th scope="row">Номер рабочего телефона:</th><td class="col-md-4"><span id="work_phone">{{ worker.work_phone }}</span></td></tr>
        <tr><th scope="row">Номер сотового телефона:</th><td  class="col-md-4"><span id="cell_phone">{{ worker.cell_phone }}</span></td></tr>
        {% for row in desc %}
        <tr><th scope="row">{{ row|index:0 }}:</th><td> {{ row|index:1 }}</td></tr>
        {% endfor %}
        <tr><th scope="row">Группы привилегий</th><td>
            <select class="selectpicker" data-width="auto" data-live-search="true" data-live-search-placeholder="Поиск" multiple
            data-none-selected-text="Не выбрано" data-actions-box="true" data-select-all-text="Выделить все" data-deselect-all-text="Отменить выделение"
            data-container="cont" data-count-selected-text="Выбрано групп: {0}"
            data-none-results-text="Ничего не найдено" data-selected-text-format="count" data-style="" data-style-base="form-control" name="group_id" id="group_id">
            {% for group in groups %}
                  <option value="{{ group.id }}" {% if group in worker.user.groups.all %} selected {% endif %}>{{ group.name }}</option>
            {% endfor %}
            </select>
        </td></tr>
      </table>
      <input type="submit" class="btn btn-primary my-2" value="Сохранить">
      </form>
    </div>
    {% include "dbadmin/jquery.html" %}
    {% include "dbadmin/bootstrapjs.html" %}
    {% include "dbadmin/bootstrap-selectjs.html" %}
  </body>
</html>